<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/reset.css">
    <link rel="stylesheet" href="/CSS/show.css">
    <title>Movie</title>
</head>

<body>
    <header>
        <ul>
            <li><a href="/">Home</a></li>
        </ul>
    </header>

    <body>
        <main>
            <% movieKey.forEach(ele=>{ %>
            <div>
                <img src="<%= ele.image%>" style="height: 295px; width: 210px;">
                <div>
                    <h1>Movie : <%= ele.name %></h1> <br>
                    <h4>Language : <%= ele.language %></h4> <br>
                    <h4>Genres : <%= ele.genres %></h4> <br>
                    <h4>Status : <%= ele.status %></h4> <br>
                    <h4>Premiered : <%= ele.premiered %></h4> <br>
                    <p>Summary: <%- ele.summary %></p> <br>
                    <button><a href="<%= ele.officialSite %>" target="_blank">officialSite</a></button>
                </div>
            </div>
            <% }) %>
        </main>
    </body>
    <footer>

    </footer>
</body>

</html>